<section class="create-post">
    <h3> ➕  <a href="/dashboard/add">Create New Post</a> </h3>
</section>

{{#if posts.length}}
<section>
    <h2>Your Blogs</h2>
    <ul>
        {{#each posts as |post|}}

        <article class="post">
            <div class="title">
                <a href="/dashboard/edit/{{post.id}}">{{post.title}} </a>
            {{format_date post.created_at}}
            </div>
            <div class="meta">
                {{post.content}}
            </div>
        </article>
        {{/each}}
    </ul>
</section>
{{/if}}